// color vars

$primary-color: #2F4349;
$secondary-color: #FF9F00;
$tertiary-color: #2f7bbd;
$medium-gray-color: #eeeeee;
$light-gray-color: #fafafa;
$footer-color: #052641;

$gray-color:#dddddd;
$green-color: #85C342;
$black-color:#1f2229;
$yellow-color:#ffd266;

$success-color:$green-color;
$warning-color:#f0ad4e;


$text-color: #2F4349;
$light-text-color: #bbbbbb;
$body-text-color: $text-color;
$dark-text-color: $text-color;


$link-color: $secondary-color;
$link-hover-color:shade($secondary-color,50%);
$top-nav-link-color:tint($text-color,30%);

$background-color: #FCFCFC;

// units

$baseline: 28px;
$base-border-radius:3px;


// font vars

$regular-font-name:"Helvetica", serif;
$bold-font-name:"Helvetica", serif;
$headline-font-name: 'prohibitionregular';
$flourish-font-name: 'have_heart_oneregular';
$social-font-name:"socialicoregular", serif;

//transitions

$base-transition-duration:.2s;

//text columns

$text-column-gutter-width: $baseline;