%footer.primary-footer
	%section.text-center
		.container
			.col-lg-12
				%p
					Be social
				%ul.social-list
					%li.social-font-name
						%a{:href=>"#"}
							f
					%li.social-font-name
						%a{:href=>"#"}
							t
					%li.social-font-name
						%a{:href=>"#"}
							i
				%p.headline-font-name
					© 2016 Robbie Pfunder. All rights reserved


