%nav.navbar.navbar-default.navbar-fixed-top.global-nav
	.container-fluid
		.navbar-header
			%a.navbar-brand{:href=>"/"}
				%img{:src=>"../images/logo.png", :width=>"170px"}
			.visible-xs
				.pull-right
					%button.tcon.tcon-menu--xcross.menu-button{"aria-label" => "toggle menu", :type => "button", "aria-expanded" => "false", "data-target" => "#collapse-menu", "data-toggle" => "collapse"}
						%span.tcon-menu__lines{"aria-hidden" => "true"}
						%span.tcon-visuallyhidden 
							toggle menu
		.hidden-xs
			.desktop-nav
				.navbar-left
					%ul.nav.navbar-nav
						%li
							%a{:href=>"/"}
								Home
						%li
							%a{:href=>"/info"}
								Stunt Show Info
						%li
							%a{:href=>"/about"}
								Bio
						%li
							%a{:href=>"/pics"}
								Media
						%li
							%a{:href=>"/contact"}
								Contact


			%form.navbar-form.navbar-right
				%a.btn.btn-primary{:href=>"/contact"}
					Book a show
	.visible-xs
		#collapse-menu.collapse.navbar-collapse.mobile-nav
			%ul.nav.navbar-nav
				%li
					%a{:href=>"/"}
						Home
				%li
					%a{:href=>"/info"}
						Stunt Show Info
				%li
					%a{:href=>"/about"}
						Bio
				%li
					%a{:href=>"/pics"}
						Media
				%li
					%a{:href=>"/contact"}
						Contact
				%li
					%a.bold-link{:href => "/contact"} 
						Book a show

