.section-how-it-works{
	background-position-y:top;
	background-position-x:center;
	background-repeat:no-repeat;
	background-size: 100%;
	padding:0;
	padding-top:$baseline*2;
}



.tire{
	background:url(../images/tire.png) no-repeat center center;
	background-size:100%;
	padding:50px 0;
	width:100%;
	position:relative;
	top:-10px;
	h1{
		text-align: center;
		font-size: 4em;
		line-height: 1em;
		position:relative;
		top:10px;
	}
}

.how-it-works-steps{
	background:url(../images/how_it_works_chain.png) no-repeat center 110px ;
	display:inline-block;

	@include breakpoint(sm) {
		background: none;
	}

}

.how-it-works-step{
	float: right;
	.how-it-works-step-inner{
		min-height: 231px;
	}
	&:nth-child(even){
		.how-it-works-step-inner{
			float: right;
			.text{
				float: right;
			}
			.number{
				float: left;
			}
		}
	}
}

.info-images-container{
	position:relative;
	top:100px;
	overflow:visible;
	@include breakpoint(md) {
		display:none;
	}

	.info-img-col{
		position:relative;
		margin-bottom: -70px;
	}

    .info-img-col-2{
		top:-450px;
		left:500px;
	}
	.info-img-col-3{
		top:-140px;
		right:190px;
	}



   @include breakpoint(lg) {
    .info-img-col-2{
		top:-350px;
		left:500px;
	}
	.info-img-col-3{
		top:-160px;
		right:90px;
	}
  }

   @include breakpoint(sm) {
    .info-img-col-2{
		top:0px;
		left:0px;
	}
	.info-img-col-3{
		top:0px;
		right:0px;
	}
  }

	.info-img-col-1{

	}

}


.info-img-card{
	img{
		box-shadow: 0 42px 51px 0 rgba(112,126,131,0.41);
	}
}