%section.whats-next.inverse-section
	.container
		.row
			.col-lg-12
				%h1.flourish-font-name.text-center
					What's Next?
	.whats-next-img-1.hidden-xs
	.container.book-a-show
		.row
			.col-lg-12.text-center
				.text-block-wn
					%h3
						Book a show
					%p.margin-bottom
						Or just say hello
					%a.btn.btn-wire.btn-lg.double-padding-left.double-padding-right{:href=>"/contact"}
						Get in Touch
	