%section.inverse-section.hero-header-lg.bg-cover.hero-bio{:style=>"background-image:url(../images/hero_bio.png);"}
	.container
		.row
			.col-lg-12.text-center
				%h2.headline-accent.headline-accent-xl.no-pull.muted-accent
					Bio
				%h1{:style=>"margin-top:-30px;"}
					Robbie Pfunder
				.row
					.col-sm-3
					.col-sm-6
						%p.text-center
							The journey to the backcountry does not follow a fixed path. Though there are many ways to get there, most backcountry skiers and snowboarders have a familiar origin story. The journey to the backcountry does not follow a fixed path. Though there are many ways to get there, most backcountry skiers and snowboarders have a familiar origin story. 
					.col-sm-3
%section.bio-info-graphics
	.container
		.row
			-3.times do
				.col-sm-4
					.bio-info-graphic
						.bio-info{:style=>"background-image:url(../images/bio_info_one.png);"}
							%h1.text-center
								3,000+
						%h5.text-center
							Shows 
							%br
							preformed
%section.section-trailor
	.container
		.row.bio-stack-top
			.col-md-7
				%a.fb-video{:href=>"https://vimeo.com/78700721"}
					.slider-bio{:style=>"background-image:url(../images/see_robbie.png);"}
						.play-icon
							%i.fa.fa-play-circle
						%h1.hidden-xs
							See robbie in action
			.col-md-5
		.row.entertainment-stack-bottom
			.col-md-7
			.col-md-5
				.div.card-texture-dark-bio
					%h3
						ROBBIE IS AWESOME
					%p.margin-bottom
						The journey to the backcountry does not follow a fixed path. Though there are many ways to get there, most backcountry skiers and snowboarders have a familiar origin story. 
					.btn-stack
						%a.btn.btn-block.btn-wire.btn-lg.half-margin-bottom{:href=>"/pics"}
							More pics & Vids
		.row.hidden-xs
			.col-md-1
			.col-md-5
				%img.full-width{:src=>"../images/quote_pro.png"}
			.col-md-6


%div
	=partial("shared/whats-next")