%section.inverse-section.hero-header-lg.bg-cover.hero-info{:style=>"background-image:url(../images/hero_info.png);"}
	.container
		.row
			.col-lg-12.text-center
				%h2.headline-accent.headline-accent-xl.no-pull.muted-accent
					About
				%h1{:style=>"margin-top:-30px;"}
					The stunt show
				.row
					.col-sm-3
					.col-sm-6
						%p.text-center
							The journey to the backcountry does not follow a fixed path. Though there are many ways to get there, most backcountry skiers and snowboarders have a familiar origin story.
						%a.btn.btn-wire.btn-lg.half-margin-top.double-padding-left.double-padding-right{:href=>"/contact"}
							BOOK NOW
					.col-sm-3
%section.section-how-it-works{:style=>"background-image:url(../images/how-it-works-bg.png);"}
	.container
		.row.double-margin-bottom
			.col-lg-12
				%h2.headline-accent.headline-accent-xl.no-pull.muted-accent-white-bg
					Info
				%h2
					How it works
		.how-it-works-steps
			- 4.times do
				.how-it-works-step
					.col-sm-6.how-it-works-step-inner
						.row
							.col-sm-8.text
								%h3
									INQUIRE
								%p
									The journey to the backcountry does not follow a fixed path. Though there are many ways to get there, most backcountry skiers and snowboarders have a familiar origin story. 
							.col-sm-4.number
								.tire.hidden-xs
									%h1
										1
%section
	.container
		.row
			.info-images-container
				.col-sm-7.info-img-col-1.info-img-col
					.info-img-card
						%img.full-width{:src=>"../images/info-img-1.png"}
				.col-sm-6.info-img-col-2.info-img-col
					.info-img-card
						%img.full-width{:src=>"../images/info-img-2.png"}
				.col-sm-4.info-img-col-3.info-img-col
					.info-img-card
						%img.full-width{:src=>"../images/info-img-3.png"}
%div{:style=>"margin-top:-80px;"}
	=partial("shared/whats-next")