%section.inverse-section.hero-header-lg.bg-cover.hero-info{:style=>"background-image:url(../images/hero_info.png);"}
	.container
		.row
			.col-lg-12.text-center
				%h2.headline-accent.headline-accent-xl.no-pull.muted-accent
					About
				%h1{:style=>"margin-top:-30px;"}
					The stunt show
				}
				.row
					.col-sm-3
					.col-sm-6
						%p.text-center
							The journey to the backcountry does not follow a fixed path. Though there are many ways to get there, most backcountry skiers and snowboarders have a familiar origin story.
						%a.btn.btn-wire.btn-lg.half-margin-top.double-padding-left.double-padding-right{:href=>"#"}
							BOOK NOW
					.col-sm-3
%section.section-trailor{:style=>"background-image:url(../images/section_bg_trailor.png);"}
	.container
		.row.double-margin-bottom
			.col-lg-12
				%h2.headline-accent.headline-accent-xl.no-pull.muted-accent-white-bg
					Info
				%h2
					How it works
		.row
			.col-sm-6
				.row
					.col-sm-8
						%h3
							INQUIRE
						%p
							The journey to the backcountry does not follow a fixed path. Though there are many ways to get there, most backcountry skiers and snowboarders have a familiar origin story. 
					.col-sm-4
						.tire
							%h1
								1
=partial("shared/whats-next")