%section.inverse-section.hero-header-lg.bg-cover.hero-media{:style=>"background-image:url(../images/header_media.png); margin-bottom:-200px;"}
	.container
		.row
			.col-lg-12.text-center
				%h2.headline-accent.headline-accent-xl.no-pull.muted-accent
					Media
				%h1{:style=>"margin-top:-30px;"}
					Pics & Vids

=partial("shared/media-grid")

%div{:style=>"margin-top:-40px;"}
	=partial("shared/whats-next")